<<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Title</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            <div class="container-fluid">
                <p class="navbar-brand">Solid System Global</p>
            </div>
        </nav>
        <div class="row">
            <div class="col-lg-6">
                    <div class="card mt-3">
                        <div class="my-2 p-3">
                            <div class="row gy-4 gx-4 align-items-center justify-content-center">
                                <div class="col-lg-auto col-md-auto col-sm">
                                    
                                        <input class="form-check-input" type="radio" name="graph_c" value="1"
                                            id="Year_partner" checked>
                                        <label class="form-check-label checked" for="Year">Solid</label>
                                   
                                </div>
    
                                <div class="col-lg-auto col-md-auto col-sm">
                                    
                                        <input class="form-check-input" type="radio" name="graph_c" value="2"
                                            id="Quarter_partner">
                                        <label class="form-check-label" for="Year">India</label>
                                    
                                </div>
                                <div class="col-lg-auto col-md-auto col-sm">
                                    <select id="choices_dropdown_closed" name="dropdown_choices">
                                        <option value="0">Select User</option>
                                        {% for key,values in data %}
                                        <option value="{{values}}">{{key}}</option>
                                        <!-- The choices are correctly displayed in the dropdown menu -->
                                        {% endfor %}
                                </select>
                                </div>
                            </div>
                            <div class="col-lg-auto col-md-auto col-sm">
                                    <button type="button" id="btn"class="btn btn-pill btn-outline-primary btn-sm" onclick="getOptionGraph()">View Graph</button>
                            </div>
                                <br>
                                <br>
                                <div>
                                    <canvas id="chart_meeting"></canvas>
                                </div>
                        </div>    
                        

                        <p>The Average of your total collections performance for last 4 weeks is:</p>
                        <p id="demo"></p>
                    </div>
            </div>
            <div class="col-lg-6">
                <div class="card mt-3">
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col-lg-6 mt-2 mb-5">
                                <h5 class="card-title">SLT wise Dues</h5>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">SLT Member</th>
                                                <th scope="col">Due</th>
                                                <th scope="col">Overdue</th>
                                                <th scope="col">Total</th>
                                                <th scope="col">%age <br> Overdue</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-primary">
                                                <th>Siamur</th>
                                                <th class="caseID7"></th>
                                                <th class="caseID10"></th>
                                                <th class="caseID9"></th>
                                                <th class="caseID8"></th>
                                            </tr>
                                            <tr>
                                                <td>Siamur</td>
                                                <td class="caseID2"></td>
                                                
                                            </tr>
                                            <tr>
                                                <td class="caseID"></td>
                                                <td class="caseID1"></td>
                                                <td class="caseID3"></td>
                                                <td class="caseID4"></td>
                                            </tr>
                                            <tr>
                                                <td class="caseID"></td>
                                                <td class="caseID1"></td>
                                                <td class="caseID3"></td>
                                                <td class="caseID4"></td>
                                            </tr>
                                            <tr>
                                                <td class="caseID"></td>
                                                <td class="caseID1"></td>
                                                <td class="caseID3"></td>
                                                <td class="caseID4"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">SLT Member</th>
                                                <th scope="col">Due</th>
                                                <th scope="col">Overdue</th>
                                                <th scope="col">Total</th>
                                                <th scope="col">%age <br> Overdue</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-primary">
                                                <th>bhakti shinde</th>
                                                <th class="caseID7"></th>
                                                <th class="caseID10"></th>
                                                <th class="caseID9"></th>
                                                <th class="caseID8"></th>
                                            </tr>
                                            <tr>
                                                <td>bhakti shinde</td>
                                                <td class="caseID2"></td>
                                            </tr>
                                            <tr>
                                                <td class="caseID"></td>
                                                <td class="caseID1"></td>
                                                <td class="caseID3"></td>
                                                <td class="caseID4"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">SLT Member</th>
                                                <th scope="col">Due</th>
                                                <th scope="col">Overdue</th>
                                                <th scope="col">Total</th>
                                                <th scope="col">%age <br> Overdue</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-primary">
                                                <th>AndreHartley</th>
                                                <th class="caseID7"></th>
                                                <th class="caseID10"></th>
                                                <th class="caseID9"></th>
                                                <th class="caseID8"></th>
                                            </tr>
                                            <tr>
                                                <td>AndreHartley</td>
                                                <td class="caseID2"></td>
                                            </tr>
                                            <tr>
                                                <td class="caseID"></td>
                                                <td class="caseID1"></td>
                                                <td class="caseID3"></td>
                                                <td class="caseID4"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Independent Member</th>
                                                <th scope="col">Due</th>
                                                <th scope="col">Overdue</th>
                                                <th scope="col">Total</th>
                                                <th scope="col">%age <br> Overdue</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="caseID5"></td>
                                                <td class="caseID6"></td>
                                            </tr>
                                            <tr>
                                                <td class="caseID5"></td>
                                                <td class="caseID6"></td>
                                            </tr>
                                            <tr>
                                                <td class="caseID5"></td>
                                                <td class="caseID6"></td>
                                            </tr>
                                            <tr>
                                                <td class="caseID5"></td>
                                                <td class="caseID6"></td>
                                            </tr>
                                            <tr>
                                                <td class="caseID5"></td>
                                                <td class="caseID6"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
        
        
                            <div class="col-lg-6 mt-2 ">
                                <h5 class="card-title mb-5">SLT - Total Due</h5>
                                <div class="w-75 mx-auto pb-5">
                                    <canvas class="" id="g1"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</body>
<script>
    window.onload = function(){
        document.getElementById('btn').click();
    }
    var labels = ["Total O/S","Overdue Collns","Total Collns", "Overdue"];
    var data = {
        labels: labels,
        datasets: [{
            label: 'Week 44',
            backgroundColor: "#d8031c",
            borderColor: 'rgb(255, 99, 132)',
            data: [40,12,20,80],
        }, {
            label: 'Week 45',
            backgroundColor: "#a2d142",
            borderColor: 'rgb(255, 99, 132)',
            data: [10,35,70,50],
        }, {
            label: 'Week 46',
            backgroundColor: "#ede049",
            borderColor: 'rgb(255, 99, 132)',
            data: [45,32,28,40],
        }, {
            label: 'Week 47',
            backgroundColor: "#01016f",
            borderColor: 'rgb(255, 99, 132)',
            data: [70,22,90,40],
        }]
    };
    var config = {
        type: 'bar',
        data: data,
        options: {}
    };
    var myChart = new Chart(document.getElementById('chart_meeting'), config);

    function getGraphData(choice,choices_funnel) {
        console.log(choices_funnel)
        $.get("fetch"+choices_funnel+choice,
            function(vardata) {
                var g = vardata
                    // value stores the json 
                var value = JSON.parse(g);
                console.log(value)
                var overdue=value[0].overdue
                var overdue_collns_0 = value[0].overdue_collns[0]
                var overdue_collns_1 = value[0].overdue_collns[1]
                var overdue_collns_2 = value[0].overdue_collns[2]
                var overdue_collns_3 = value[0].overdue_collns[3]
                var overdue_collns_list=[overdue_collns_0,overdue_collns_1,overdue_collns_2,overdue_collns_3]

                var total_collns_0 = value[0].total_collns[0]
                var total_collns_1 = value[0].total_collns[1]
                var total_collns_2 = value[0].total_collns[2]
                var total_collns_3 = value[0].total_collns[3]
                var total_collns_list=[total_collns_0,total_collns_1,total_collns_2,total_collns_3]

                var total_out_0 = value[0].total_out[0]
                var total_out_1 = value[0].total_out[1]
                var total_out_2 = value[0].total_out[2]
                var total_out_3 = value[0].total_out[3]
                var avg=(total_out_0+total_out_1+total_out_2+total_out_3)/4
                var total_out_list=[total_out_0,total_out_1,total_out_2,total_out_3]
                myChart.data.datasets[0].data = [total_out_list[0],overdue_collns_list[0], total_collns_list[0],overdue[0]];
                myChart.data.datasets[1].data = [total_out_list[1],overdue_collns_list[1], total_collns_list[1],overdue[1]];
                myChart.data.datasets[2].data = [total_out_list[2],overdue_collns_list[2], total_collns_list[2],overdue[2]];
                myChart.data.datasets[3].data = [total_out_list[3],overdue_collns_list[3], total_collns_list[3],overdue[3]];
                let html = avg
                document.getElementById("demo").innerHTML = html;
                
                myChart.update();

            }
        )
    }
    function getOptionGraph() {
        selectElement = document.querySelector('#choices_dropdown_closed');
        choices_funnel = selectElement.options[selectElement.selectedIndex].value;
        var ele = document.getElementsByName('graph_c');
        var choice=1
        for(i = 0; i < ele.length; i++) {
            if(ele[i].checked){
                choice=ele[i].value;
            }
        }   
        getGraphData(choice,choices_funnel);
    }
    
        var data = {
            datasets: [
    
                {
                    data: [1, 1,1],
                    label: ['STL','ghh','hjjj]'],
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 199, 132)',
                    ],
                    hoverOffset: 5
                }
            ]
        }
    
        var config = {
            type: 'pie',
            data: data,
            options: {
                responsive: true,
                maintainAspecRatio: false,
                aspectRatio: 1,
            }
        };
    
        var myChart9 = new Chart(document.getElementById('g1'), config)
        
            $.get("stl",
                function(vardata) {
                    var g = vardata
                    console.log(g)
                        // value stores the json 
                    var value = JSON.parse(g);
                    console.log(value)
                    
                    var sum_8=0
                    var sum_11=0
                    var sum_21=0
                    var sum_8_stl=0
                    var sum_11_stl=0
                    var sum_21_stl=0
                    for(var i=0; i<5;i++){
                        var user_id_of_kam=value[i].user_id_of_kam
                        if(user_id_of_kam==8){
                            var invoice_amount=value[i].invoice_amount
                            var invoice_amount_stl=value[i].invoice_amount_stl
                            sum_8_stl=sum_8_stl+invoice_amount_stl+invoice_amount
                            sum_8=sum_8+invoice_amount
                        }
                    }
                    for(var i=0; i<5;i++){
                        var user_id_of_kam=value[i].user_id_of_kam
                        if(user_id_of_kam==11){
                            var invoice_amount=value[i].invoice_amount
                            var invoice_amount_stl=value[i].invoice_amount_stl
                            sum_11_stl=sum_11_stl+invoice_amount+invoice_amount_stl
                            sum_11=sum_11+invoice_amount
                        }
                    }
                    for(var i=0; i<5;i++){
                        var user_id_of_kam=value[i].user_id_of_kam
                        if(user_id_of_kam==21){
                            var invoice_amount=value[i].invoice_amount
                            var invoice_amount_stl=value[i].invoice_amount_stl
                            sum_21_stl=sum_21_stl+invoice_amount+invoice_amount_stl
                            sum_21=sum_21+invoice_amount
                        }
                    }
                    myChart9.data.datasets[0].data = [sum_8,sum_11,sum_21];
                    var tds = document.getElementsByClassName("caseID");
                    var tds1 = document.getElementsByClassName("caseID1");
                    var tds2 = document.getElementsByClassName("caseID2");
                    var tds3 = document.getElementsByClassName("caseID3");
                    var tds4 = document.getElementsByClassName("caseID4");
                    var tds5 = document.getElementsByClassName("caseID5");
                    var tds6 = document.getElementsByClassName("caseID6");
                    var tds7 = document.getElementsByClassName("caseID7");
                    l=[sum_8,sum_11,sum_21];
                    l_stl=[sum_8_stl,sum_11_stl,sum_21_stl];
                    if ( tds.length ) { // just a check to make sure you've found somethiung
    
                        for(i = 0; i < 100; i++) {
                            caseID5 =value[i].user_id_in
                            tds5[i].innerHTML = caseID5;
                            caseID4 =value[i].collns
                            tds4[i].innerHTML = caseID4;
                            caseID6 =value[i].invoice_amount_in
                            tds6[i].innerHTML = caseID6;
                            caseID =value[i].under_name
                            tds[i].innerHTML = caseID;
                            caseID1 =value[i].invoice_amount
                            tds1[i].innerHTML = caseID1;
                            caseID2 =l[i]
                            tds2[i].innerHTML = caseID2;
                            caseID3 =value[i].full_payment
                            tds3[i].innerHTML = caseID3;
                            caseID4 =value[i].collns
                            tds4[i].innerHTML = caseID4;
                            caseID7 =l_stl[i]
                            tds7[i].innerHTML = caseID7;
                            
                            
                            
                            myChart9.update();
                            
                        }
                    }
                    console.log("hi")
                   
                    
                    
                }
            )
        
    
    
</script>
</html>